@import "tailwindcss";
@font-face {
    font-family: "FlowFont";
    src: url("https://raw.githubusercontent.com/prince12626/UniConnect/main/client/public/font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "FlowFont", sans-serif;
}
